{% block body %}
{% include "registration/header.html.twig" %}
<main class="main_register">
    <div class="card shadow-1 white rounded-3 ">
        <div class="card-content">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                
                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <div class="card-header">Connexion</div>
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                
                <button class="btn btn-lg btn-primary" type="submit">
                    Sign in
                </button>
            </form>
        </div>
    </div>
</main>
{% include "accueil/footer.html.twig" %}
{% endblock %}
