{% extends 'base.html.twig' %}



{% block body %}
{% include "registration/header.html.twig" %}
<main class="main_register">
<div class="card shadow-1 white rounded-3 ">
  <div class="card-content">
   <div class="card-header">Inscription</div>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.nom, {
    label: 'Last Name'
}) }}
 {{ form_row(registrationForm.prenom, {
    label: 'First Name'
}) }}
 {{ form_row(registrationForm.dateNaissance, {
    label: 'DateNaissance'
}) }}
{{ form_row(registrationForm.adressePostale, {
    label: 'Adresse Postale'
}) }}
        {{ form_row(registrationForm.agreeTerms) }}
   
        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
      </div>
      </div>
</main>
    {% include "accueil/footer.html.twig" %}
{% endblock %}
