{% extends 'base.html.twig' %}



{% block body %}
{% include "admin/header.html.twig" %}
  


     <h1 class="text-center">Catalogue</h1>

 <form action="{{ path('app_livre_index') }}" method="get" class="mt-3">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Search by title or author">
                    <button type="submit" class="btn btn-primary">Search</button>
                      <form method="get" action="{{ path('app_livre_index') }}">
                <button type="submit" class="btn mole light-1 text-white rounded-1">Annuler</button>
            </form>
                </div>
            </form>

    <div class="grix xs4">
     {% for livre in livres %}
       <div>

          <div class="card white rounded-2 shadow-1 mx-auto" style="max-width: 400px;">
  <div class="card-image">
    <img src="{{ livre.imgLivre }}" class="responsive-media" alt="{{ livre.titre }}">
  </div>
          <div class="card-content">
           <span class="h3">{{ livre.titre }}</span>
             <div class="font-s3 text-black text-light-2">By {{ livre.auteur }}</div>
            <div class="mt-3"> <p>{{ livre.description }}</p>
            <p>{{ livre.dateParution ? livre.dateParution|date('Y-m-d') : '' }}</p>
            <p>{{ livre.genre }}</p>
          </div>
</div>
  <div class="card-footer d-flex mt-1">
    <button data-waves="" class="btn mole light-1 text-white rounded-1">  <a href="{{ path('app_livre_show', {'id': livre.id}) }}">show</a></button>
 </div>
</div>


   </div>                



        {% else %}
         
  <div class="card-content">
    <p> no records found</p>
  </div>
</div>
        {% endfor %}
        </div>
     </div>

  {% include "livre/fab.html.twig" %}
{% include "accueil/footer.html.twig" %}
{% endblock %}
