{% extends 'base.html.twig' %}


{% block body %}
{% include "admin/header.html.twig" %}
  
    <h1 class="text-center">Liste Emprunt </h1>
<main class="main_admin ">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateEmprunt</th>
                <th>DateRetour</th>
                <th>Statut</th>
                <th>Commentaire</th>
                <th>Emprunteur</th>
                <th>Livre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for emprunt in emprunts %}
            <tr>
                <td>{{ emprunt.id }}</td>
                <td>{{ emprunt.dateEmprunt ? emprunt.dateEmprunt|date('d-m-Y') : '' }}</td>
                <td>{{ emprunt.dateRetour ? emprunt.dateRetour|date('d-m-Y') : '' }}</td>
                <td>{{ emprunt.statut ? 'Indisponible' : 'Disponible' }}</td>
                <td>{{ emprunt.commentaire }}</td>
                   <td>{{ emprunt.emprunteur }}</td>
                      <td>{{ emprunt.livre }}</td>
                <td>
                    <a href="{{ path('app_emprunt_show', {'id': emprunt.id}) }}">show</a>
                    <a href="{{ path('app_emprunt_edit', {'id': emprunt.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_emprunt_new') }}">Create new</a>
   
   </main>
    {% include "admin/footer.html.twig" %}
{% endblock %}
